* {
    margin: 0;
    padding: 0;box-sizing: border-box;
}

body {
    background-color: #ece8d9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(.5rem);
    box-shadow: 0  0 10px rgba(0, 0, 0, .2);
    border-radius: .5rem;
    padding: 2rem 3rem;
    line-height: 3.8rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.int {
    display: flex;
    gap: 1rem;
}

input {
    padding: .6rem 1rem;
    border-radius: 2rem;
    border: 0;
    outline: none;
    background: transparent;
    box-shadow: 0  0 10px rgba(0, 0, 0, .4);
    font-size: .9rem;
    margin: .5rem 0;
}

i {
    font-size: 2rem;
}

#displayStrength {
  font-size: .6rem;
  width: 15rem;
  height: auto;
}

#submit {
    background-color: white;
    padding:.5rem;
    border-radius: 5rem;
    border: 0;
    font-weight: 550;
    font-size: 1rem;
}
#submit:hover {
    background-color: rgb(180, 165, 165);
    cursor: pointer;
}

.fgt-password {
    display: flex;
    flex-direction: column;
}
.fgt-password:hover a {
    color: white;
    cursor: pointer;
}

a {
    font-size: 1rem;
    color: black;
}

footer {
    font-size: .6rem;
}

@media (max-width:768px) {
    body {
        margin: auto;
    }
    .int {
        display: flex;
        align-items: center;
    }
}