* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    button,input:hover {
        cursor: pointer;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    margin: auto;
    overflow-x: hidden;

    
    li {
        list-style: none;
    }
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ebe8d9;
    padding: 1rem 2rem;
    color: gray;
    top: 0;
    position: fixed;
    background-color: #fff;
    width: 100%;
    z-index: 999;

    .main-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
        width: 100%;
    }
    
    #logout {
            padding: .5rem 1rem;
            background-color: #D77F81;
            border: 0;
            border-radius: .2rem;
            font-size: 1.3rem;
            color: #fff;
        }

    .header-ctn {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .header-cart {
        display: flex;
        align-items: center;
        gap: 2rem;

        span {
            color: orange;
        }
    }

    .q-search {
        display: none;
    }
}

/* Main Content */
main {
    background-color: #ECE8D9;
    padding: 8rem 2rem;
    line-height: 2.5rem;

        .message {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0;

        #welcome-text {
            font-size: 2rem;
            color: #384a62;
        }
    }

    button {
        display: none;
    }

    h1 {
        font-family: "DM Serif Display", serif;
        font-size: 6rem;
        color: #384a62;
    }

    h4 {
        color: gray;
        margin-top: 2rem;
        font-size: 1.3rem;
    }

    input {
        width: auto;
        border: none;
        padding: 1.7rem 1rem;
        font-size: 1.2rem;
        outline: none;
    }

    img {
        width: 35rem;
        position: absolute;
        top: 14rem;
        right: 0;
    }
}

/* Gallery */

.gallery-header {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    font-family: "DM Serif Display",serif;
    font-size: 1.6rem;
    color: #384a62;

    p {
        color: #d77f81;
    }
}

#products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 1rem 2rem;
    width: auto;
    height: auto;
    gap: 1rem;

    p {
        font-size: 1.2rem;
        text-align: center;
        color: #384a62;
    }

    h2 {
        text-align: center;
        font-family: "DM Serif Display", serif;
        color: #384a62;
    }
    
    img {
        width: 10rem; 
    }

    img:hover {
        transform: scale(1.1);
        transition: all .3s ease-in-out;
    }

    #home {
        width: 20rem;
        height: 29rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border: 0;
        border-radius: .5rem;
        padding: 1rem;
        gap: 2rem;
        margin: auto;
        box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
    }
}

/* Logo */
.logos {
    padding: 1rem 2rem;

    h3 {
        color: #384A62;
        font-size: 1.9rem;
        padding-bottom: 1rem;
    }

    p {
        color: #506683;
        width: 100%;
        font-size: 1.3rem;
        line-height: 1.7rem;
        font-weight: 500;
    }
}

.logo-img {
    width: inherit;
    height: 20rem;
    background-image: url(../images/Group_61_h8vxko\ \(2\).png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* Reviews */
.review {
    padding: 6rem 2rem;
    line-height: 1.8rem;
    gap: 2rem;
    background-color: #edf6fd;

    h2 {
        padding-bottom: 3rem;
        color: #384a62;
        font-size: 1.9rem;
        color: rgb(56, 74, 98);
        font-family: "DM Serif Display", serif;
    }

    #reviews {
        display: flex;
    }

    .review-box {
        display: flex;
        width: 27rem;
        margin-right: 1.5rem;
        background-color: white;
        border-radius: .5rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
        padding: 1rem;

        .box-content {
            display: flex;
            align-items: start;
            gap: 1rem;

            #name {
                font-weight: 100;
                font-size: 1.2rem;
                margin-bottom: .4rem;
            }
            
            p {
                font-size: 1.1rem;
            }

            img {
                border: 1px solid grey;
                border-radius: 50%;
                padding: .7rem;
            }
        }
    }

    span {
        color: blue;
    }
}

/* Mission */
.mission {
    padding: 9rem 2rem;
    width: 100%;

    h3 {
        font-size: 1.5rem;
        padding-bottom: 1.8rem;
        color: rgb(56, 74, 98);
    }

    .mission-box {
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;


        .mission-content {
        display: flex;
        align-items: start;
        gap: 2rem;
        flex: 1;
        line-height: 1.5rem;

        p {
            line-height: 1.8rem;
            color: #6797C8;
        }
        
        img {
            width: 5rem;
        }

        span {
            display: block;
            font-size: 1.3rem;
            width: 17rem;
            color: rgb(56, 74, 98);
        }
    }
    }
}

    
/* Article */
.article {
    display: flex;
    flex-direction: column;
    padding: 7rem 2rem;
    background-color: #f7f6f4;

    h3 {
        font-size: 35px;
        color: #384a62;
        font-family:"DM Serif Display", serif ;
    }

    .text-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .article-text {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        width: 15rem;
        height: 12rem;

        a {
            color: rgb(56, 74, 98);
        }
    }
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    background-color: #384a62;
    color: white;
    list-style: none;
    font-weight: 100;
    font-family: "SF Pro", sans-serif;
    padding:3rem  2rem 10rem 2rem;

    .footer-content {
        line-height: 2rem;
        width: 20rem;

        .icons {
            img {
                width: 2.5rem;
                margin-right: 1rem;
            }

            img:hover {
                transform: scale(1.1);
                transition: all .3s ease-in-out;
            }
        }

        img {
            width: 13rem;
        }
        
        li {
            font-size: 1.2rem;
        }

        h3 {
            margin-bottom: 1rem;
            margin-top: 1rem;
            font-size: 20px;
        }
    }


}

.copy {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CBCAC8;
    padding: 2rem 0;
    color: #384A62;
}

.out {
    width: 100%;
    background-color: #384A62;
    padding: 2rem 2rem;

    #signout {
            padding: .5rem 1rem;
            background-color: #384A62;
            border: 0;
            font-size: 1.3rem;
            color: #fff;
            text-align: start;
            box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
        }
}


/* Media Queries */
@media (max-width: 768px) {

    * {
        width: auto;
    }

    body {
        width: 100vw;
        height: 100vh;
        font-family: sans-serif;
        margin: auto;
        overflow-x: hidden;
    }

    header {
        width: 100%;
        flex-direction: column;
        align-items: center;

        .header-ctn {
            align-items: center;
            gap: 1rem;

            img {
                width: 5rem;
            }

            #logout {
                background-color: #D77F81;
                color: white;
                padding: .2rem .4rem;
                font-size: 1rem;
            }
        }

        nav {
            display: none;
        }

        .q-search {
            display: flex;
            width: 100%;
            gap: .7rem;
            font-size: 1rem;

            button {
                padding: .5rem .7rem;
                color: white;
                background-color: #D77F81;
                border-radius: .2rem;
                border: 0;
                font-size: 1rem;
            }

            input {
                width: 100%;
                padding: .5rem .7rem;
                border-radius: .2rem;
                border: 1px solid grey;
            }
        }
    }

    main {
        padding-top: 7rem;
        padding-bottom: 3rem;
        img {
            display: none;
        }

        .message {
            #welcome-text {
            font-size: 1rem;
        }
        }

        h1 {
            font-size: 2rem;
        }

         h4 {
        font-size: 1.1rem;
    }

        input {
            width: 100%;
            padding: 1.2rem 1rem;
            font-size: 1rem;
        }

    }

    .logos {

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }
}

.logo-img {
    height: 4rem;
}

    .gallery-header {
    font-size: 1.1rem;

    p {
        color: #d77f81;
        font-size: 1rem;
    }
}

    .review {
        width: 100%;
        padding: 3rem 2rem;

        h2 {
            font-size: 1.2rem;
        }

        #reviews {
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
        }

        .review-box {
            width: auto;
            margin: auto;
        }

        .box-content {
            width: 100%;
            flex-direction: row;
            align-items: center;
        }
    }

    .mission {
        padding: 3rem 2rem;

        h3 {
            font-size: 1.2rem;
        }

        .mission-box {
            flex-direction: column;
            align-items: start;
            gap: 2rem;

            .mission-content {
                width: 100%;
                flex-direction: column;
                margin: auto;
            }
        }
    }

    .article {
        padding: 3rem 2rem;
        gap: 2rem;

        h3 {
            font-size: 1.2rem;
        }

        .text-container {
            flex-direction: column;
            align-items: start;
            gap: 2rem;
            width: 100%;
        }

        .article-text {
            width: 100%;
            height: auto;
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 1rem;

        .footer-content {
            width: 100%;
            margin-bottom: 2rem;

            .icons {
            img {
                width: 2rem;
            }

            h3 {
                font-size: 1.2rem;
            }

            li {
                font-size: 1rem;
            }
        }

    }

    .copy {
            width: 100%;
            text-align: center;
            padding: 2rem 0;
            background-color: #ECE8D9;
            color: #384A62;
            font-size: .8rem;
        }
}
}